{% extends 'base.html' %}


{% block title  %}
우리나라에는 너무 많은 치킨이 존재한다.
{% endblock  %}

{% block lead  %}
어떤 치킨을 먹을까 고민한다면 여기로 모여라. 나만의 치킨 다이어리
{% endblock  %}

{% block main_body  %}
대한민국의 치킨집은 해마다 6000여개가 새로 문을 연다.<br>
또한 해마다 8000여개가 사라진다.<br>
대한민국은 치킨공화국이다.<br>
그 수많은 치킨줄 뭘 먹어야 할까 한번쯤 고민해 본적이 있는가?<br>
어떤 브랜드에 어떤 치킨이 존재하는지 알지도 못한다.<br>
오늘은 어떤 치킨을 먹어야 할것인가!<br>
<img src="http://www.hansikmagazine.org/uploads/pw1602006/202009/ca0e25673bc25f8416115fc98f2cfc7a_crop.jpg?t=174c32669e9"
alt="반반" width="1000" height="672" align="center" border="0">
{% endblock  %}
